<div class="row">
    <div class="page-footer">
        <div class="page-footer-wrap">
            <div class="side pull-left">
                <footer>
                    <p>&copy; @DateTime.Now.Year - iManagement Project Management Solution</p>
                </footer>
            </div>
        </div>
    </div>
</div>
