<div class="col-lg-6">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--Sales tile-->
            <div class="panel panel-primary panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">53</span>
                    <p>Sales</p>
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--Messages tile-->
            <div class="panel panel-warning panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">68</span>
                    <p>Messages</p>
                    <i class="fa fa-envelope"></i>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--Projects-->
            <div class="panel panel-purple panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">32</span>
                    <p>Projects</p>
                    <i class="fa fa-code"></i>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--Reports-->
            <div class="panel panel-dark panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">12</span>
                    <p>Reports</p>
                    <i class="fa fa-file-text"></i>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--New Items-->
            <div class="panel panel-info panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">254</span>
                    <p>New Items</p>
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">

            <!--Task-->
            <div class="panel panel-success panel-colorful">
                <div class="pad-all text-center">
                    <span class="text-5x text-thin">52</span>
                    <p>Task</p>
                    <i class="fa fa-tasks"></i>
                </div>
            </div>

        </div>
    </div>
</div>