<div class="portlets">
    <div class="widget block">
        <div class="widget-header transparent">
            <div class="additional-btn">
                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                <a class="hidden" id="dropdownMenu5" data-toggle="dropdown">
                    <i class="fa fa-cogs"></i>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu5">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
                <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
                <a href="#" class="widget-maximize hidden"><i class="icon-resize-full-1"></i></a>
                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
            </div>
        </div>
        <div class="widget-content">
            <div class="content">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <p>@{ Html.RenderAction("One", "HeadLineOnes"); }</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <p>@{ Html.RenderAction("Two", "HeadLineTwoes"); }</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <p>@{ Html.RenderAction("Three", "HeadLineThrees"); }</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
