
    <div id="calc" class="widget darkblue-2">
        <div class="widget-header">
            <div class="additional-btn left-toolbar">
                <div class="btn-group">
                    <a class="additional-icon" id="dropdownMenu2" data-toggle="dropdown">
                        Calculator <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Export</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Quit</a></li>
                    </ul>
                </div>
            </div>
            <div class="additional-btn">
                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>

                <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
            </div>
        </div>
        <div id="calculator" class="widget-content">
            <div class="calc-top col-xs-12">
                <div class="row">
                    <div class="col-xs-3"><span class="calc-clean">C</span></div>
                    <div class="col-xs-9"><div class="calc-screen"></div></div>
                </div>
            </div>

            <div class="calc-keys col-xs-12">
                <div class="row">
                    <div class="col-xs-3"><span>7</span></div>
                    <div class="col-xs-3"><span>8</span></div>
                    <div class="col-xs-3"><span>9</span></div>
                    <div class="col-xs-3"><span class="calc-operator">+</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><span>4</span></div>
                    <div class="col-xs-3"><span>5</span></div>
                    <div class="col-xs-3"><span>6</span></div>
                    <div class="col-xs-3"><span class="calc-operator">-</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><span>1</span></div>
                    <div class="col-xs-3"><span>2</span></div>
                    <div class="col-xs-3"><span>3</span></div>
                    <div class="col-xs-3"><span class="calc-operator">÷</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><span>0</span></div>
                    <div class="col-xs-3"><span>.</span></div>
                    <div class="col-xs-3"><span class="calc-eval">=</span></div>
                    <div class="col-xs-3"><span class="calc-operator">x</span></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
