<div class=" portlets">
    <div class="widget block block-drop-shadow xe-widget-danger">
        <div class="panel-heading">
            @*<div class="help-tip">
                    <p>Bug Reports!</p>
                </div>*@
            <div class="widget-header transparent">
                <div class="additional-btn">
                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                    <a class="hidden" id="dropdownMenu10" data-toggle="dropdown">
                        <i class="fa fa-cogs"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu10">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
                    <a href="#" class="widget-maximize hidden"><i class="icon-resize-full-1"></i></a>
                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                </div>
                <i class="fa fa-bug fa-3x "></i> Bugs
            </div>
            <div class="widget-content">
                <div class="panel-body">
                    <div class="list-group">
                        <div class="left_abs_100" style="margin-top: 20px;">
                            <div class="knob">
                                <input type="text" data-fgcolor="#FFFFFF" data-min="0" data-max="200" data-width="100" data-height="100" value="@{ Html.RenderAction("Statistics", "BugReports"); }" data-readonly="true"/>
                            </div>
                        </div>
                        <div class="hp-info hp-simple pull-left">
                            @Html.ActionLink("Create Bug Report", "Create", "BugReports") |
                        </div>
                        <div class="hp-info hp-simple pull-right">
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Bug Reports", "Index", "BugReports")
                            }
                        </div>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <!-- /.panel-heading -->
    </div>
</div>
