@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<button class="btn btn-default btn-clean" onclick="noty({text: 'Successful action', type: 'success'});">Success</button>
<p>Use this area to provide additional information.</p>

<div class="help-tip">
    <p>This is the inline help tip! It can contain all kinds of HTML. Style it as you please.</p>
</div>

