<html lang="en">
<head>
    <style type="text/css">
        .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
            font-weight: 400;
        }
    </style>
    <style type="text/css">
        .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
            font-size: 10px;
        }
    </style>
    <style type="text/css">
        .gm-style {
            font-family: Roboto,Arial,sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none;
        }
    </style>
    <title>Contact</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
    <script src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/19/5/%7Bmain,places%7D.js"></script>


    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/controls.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/19/5/stats.js"></script>
</head>
<body class="bg-img-num1">

    <div class="container">
        <div class="row">
            <div class="col-md-4">                
                <div class="block block-drop-shadow">
                    <div class="header">
                        <h2>Developers</h2>
                    </div>
                    <div class="content content-transparent np">
                        <div class="list list-contacts">
                            <a href="#" class="list-item">
                                <div class="list-info">
                                    <img src="~/Content/img/logo.png" class="img-circle img-thumbnail">
                                </div>
                                <div class="list-text">
                                    <span class="list-text-name">Igor Iric</span>
                                    <div class="list-text-info"><i class="icon-envelope"></i> iric_i@hotmail.com &nbsp; <i class="icon-phone"></i> +49 152851919</div>
                                </div>
                            </a>
                            </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="block block-drop-shadow">
                    <div class="header">
                        <h2>Frankfurt am Main</h2>
                    </div>
                    <div class="content">
                        <address class="nmb">
                            <strong>iric</strong><br>
                            Alt Rödelhem 3<br>
                            Frankfurt, 64890<br>
                            <abbr title="Phone">P:</abbr> +0 (123) 456-7890
                        </address>
                    </div>
                </div>

                </div>
            <div class="col-md-4">

                <div class="block block-drop-shadow">
                    <div class="header">
                        <h2>Contact us</h2>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <label class="control-label">Your name:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Your phone:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Your E-mail:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Message:</label>
                            <textarea class="control-label"></textarea>
                        </div>
                        <div class="form-group nmb tar">
                            <button class="btn btn-default btn-clean">Send it</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>
