@{ Layout = null; }

@using Microsoft.Ajax.Utilities
@model iProjects.Models.ProjectCategory

@if (@Model.ProjectCategoryId != 0)
{     <div>@Model.ProjectCategoryId</div> }
else
{
    <div>0</div>
}

