<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error | Coco - Responsive Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Igor Iric">
</head>
<body>
        <!-- Begin page -->
        <div class="container">
            <div class="full-content-center animated flipInX">
                <h1>500</h1>
                <h2>We are unable to show this page to you correctly!</h2><br>                
                <div class="row">

                </div><br>
                <a class="btn btn-primary btn-sm backbtn" href="/Home/"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
            </div>
        </div>
        <!-- End of page -->
        <!-- the overlay modal element -->
        <div class="md-overlay"></div>
        <!-- End of eoverlay modal -->
        <script>
            var resizefunc = [];
        </script>

        </body>
</html>