@model IEnumerable<iProjects.ViewModels.CreationDateProj>

@{
    ViewBag.Title = "Projects Creation Statistics";
}

<h2>Projects Creation Statistics</h2>

<table>
    <tr>
        <th>
            Creation Date
        </th>
        <th>
            Projects
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @item.ProjectCount
            </td>
        </tr>
    }
</table>